@model Drink
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">What's in your liqour cabinet today?'</h1>
    <h3 class="text-center" style= 100px>@Model.strDrink</h3>
    <h3> @Model.strDrink</h3>
    <h3>@Url.Content(Model.strDrinkThumb)</h3>

</div>