@model Drink

@{
    var options = new List<string>() { "Tequila", "Rum", "Gin", "Vodka", "Whiskey", "Bourbon" };
}

<div class="text-center">
    <h1 class="display-4">Cocktail Recipes</h1>

    <br />

    @using (Html.BeginForm("DrinkIndex", "Home", "Post"))
    {
        <div class="form-group">


            <video controls="Controls" autoplay loop muted>
                <source src="Images/shaker.mp4" style="width:max-content;height:max-content" />
            </video>
            <br />
            <label class="title" for="">Choose a Liquor:</label>
            <select class="form control" name="strDrink" value="">
                @foreach (var sip in options)
                {
                    <option value="@sip">@sip</option>
                }

            </select>
        </div>
        <br />
        <br />
        <input type="submit" value="Sip Away" class="btn btn-primary" />

    }
    </div>


